/****************
*****CSS*********
****************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Fredoka One', cursive;
    font-family: 'Open Sans', sans-serif;
}

.col20 { width: 20%; }
.col50 { width: 50%; }
.col60 { width: 60%; }

.col {
    padding: 10px;
}

.height{
    height: 100%;
}

.center{ text-align: center;}
.right{ text-align: right;}

/*header*/
header{
    background-image:url("../img/jumbo.png");
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.link{
    margin: 5px;
    padding: 7px;
    color:white;
    text-decoration: none;
}

.w3-button{
    border-radius: 40px;
    font-size: 15px;
    padding: 7px 16px;
}

.bottone{
    text-align: center;
}

.w3-button1{
    font-weight: 400;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 40px;
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
}

.w3-button2{
    font-weight: 400;
    cursor: pointer;
    background-color: #23272a;
    color: white;
    margin-top: 40px;
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
}

.flex {
    display: flex;
}

.container{
    height: 80px;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.box{
    max-width: 1200px;
    margin: 0 auto;
}

.contenitore{
    min-height: 500px ;
    display: flex;
    align-items: center;
}

.hero{
    height: 500px;
    padding: 50px;
    justify-content: center;
}

.heroText{
    text-align: center;
    color: white;
    line-height: 95%;
}

.heroSubtitle{
    color: white;
    text-align: center;
    margin-top: 40px;
    font-size: clamp(19px,2vw,19px);
    line-height: 1.3;
}

/*INIZIO MAIN*/
.sezione1{
    background-color: white;
    min-height: 500px ;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 9rem;
}

.blocco{
    width: 1000px;
    height: 480px;
    background-color: white;
    margin: 0 auto;
    display: flex;
}

.blue{
    width:100%;
    min-height: 480px;
}

.pink{
    background-color: white;
    width: 70%;
    min-height: 480px;
}

.heroText1{
    font-size: 36px;
    text-align: left;
    color: black;
    line-height: 130%;
}

.heroSubtitle1{
    color: black;
    text-align: left;
    margin-top: 30px;
    font-size: clamp(19px,2vw,19px);
    line-height: 1.3;
}

.sezione2{
    min-height: 500px ;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 3rem;
}

.sezione3{
    min-height: 500px ;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 3rem;
}

.bloccoGreen{
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    display: flex;
}

.heroText2{
    text-align: center;
    color: black;
    line-height: 95%;
}

.heroSubtitle2{
    color: black;
    text-align: center;
    margin-top: 40px;
    font-size: clamp(19px,2vw,19px);
    line-height: 1.3;
}

.green{
    width: 1000px;
    min-height: 900px;
}

.star{
    display: block;
    width: 52%;
    margin: 0 auto;
}

.w3-button3{
    background-color: #5865f2;
    color: white;
    font-weight: 400;
    cursor: pointer;
    margin-top: 40px;
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
    display: block;
    margin: 0 auto;
    margin-top: 70px;
}

.sezione4{
    display: flex;
    min-height: 575px;
    margin: 0 auto;
    padding: 3rem;
    background-color: #23272a;
    align-items: center;
}

.bloccoFooter{
    width: 1000px;
    height: 575px;
    margin: 0 auto;
    display: flex;
}

.boxred{
    width: 40%;
    height: 570px;
    display: inline-block;
}
.columngreen{
    background-color: #23272a;
    width: 15%;
    height: 570px;
}

/*INIZIO FOOTER*/
footer{
    background-color: #23272a;
    border: 2px solid white;
}

.heroText3{
    color:#5865f2;
    text-align: left;
    font-size: clamp(35px,2vw,19px);
    line-height: 1.3;
}

.language{
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.lingua{
    width: 10%;
    margin-right: 15px;
}

.heroTextFoot{
    background-color: #23272a;
    color: white;
}

.fa-brands{
    margin-right: 20px;
    margin-top: 50px;
    color: white;
    display: inline-block;
}

.heroTextFoot1{
    color: #5865f2;
    margin-top: 6px;
}

.lista{
     list-style-type:none;
     line-height: 2.5rem;
}

.col1{
    color: white;
    text-decoration: none;
}

.separetor{
    background-color: #5865f2;
    margin-bottom: 30px;
    height: 2px;
    width: 100%;
}

.finalbox {
    height: 100px;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}

.w3-button3Reg{
    background-color:#5865f2 ;
    color: white;
    border-radius: 40px;
    font-size: 15px;
    padding: 7px 16px;
}
.finalfoot{
    padding: 0.5em;
}